# 此文件保存的是整个 jekyll 项目的所有配置项，配置好了之后基本就不需要再更改了

# ---------------- #
#   主要配置信息     #
# ---------------- #
baseurl: ""
url: http://blog.lingdongkuaichuan.com
date_format: "ordinal"
title: 周博文的博客
subtitle: "你的指尖有改变世界的力量"
description: "周博文的个人博客"
keywords: 周博文, 软件工程师, 安卓
# 网站网址栏展示的图标
favicon: /favicon.ico
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#     作者信息      #
# ---------------- #
author: 周博文
# 公司名称 网站
organization: xbrother.com
organization_url: http://www.xbrother.com
github_username: zhoubowen-sky
location: Shenzhen, China
email: zhoubowen.sky@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, netease_gentie, gitment
comments_provider: gitment
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: mzlogin
# https://gentie.163.com
netease_gentie:
    productKey: 560ed243b708465d82d5a0a5f3b83da1
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: mzlogin
    repo: blog-comments
    oauth:
        client_id: d2e1cbbd298958076462
        client_secret: b42a4178e5fd4a7cf63189ef4b1453b05c375709
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : true

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
